@use "../base/variables" as *;

.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__title {
    width: 100%;
    padding: 20px;
    background-color: $primary;
    color: $white;
  }

  &__body {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
}
