@use "../base/variables" as *;

.gallery {
  display: flex;
  flex-direction: column;

  &__title {
    width: 100%;
    padding: 20px;
    background-color: $primary;
    color: $white;
  }

  &__body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 20px;
    padding: 20px;
  }

  &__item {
    display: flex;
    flex: 0 0 100%;

    @media (width >= 600px) {
      flex: 0 0 calc((100% - 20px) / 2);
    }

    @media (width >= 900px) {
      flex: 0 0 calc((100% - 40px) / 3);
    }

    @media (width >= 1200px) {
      flex: 0 0 calc((100% - 60px) / 4);
    }
  }
}
