@use "../base/variables" as *;
@use "../utilities/mixins" as *;

.box {
  margin: 10px 5px;
  padding: 30px 10px;
  background-color: $black;
  color: $text-on-primary;
  border-radius: $border-radius-base;
}

@for $i from 1 through 3 {
  .container-#{$i} {
    @if $i == 1 {
      .base-color {
        background-color: $primary;
      }

      @include color-variations($primary);
    } @else if $i == 2 {
      .base-color {
        background-color: $secondary;
      }

      @include color-variations($secondary);
    } @else if $i == 3 {
      .base-color {
        background-color: $tertiary;
      }

      @include color-variations($tertiary);
    }
  }
}
