/* base::variables::colors */
$white: #FFF;
$grey: #AAB8C5;
$black: #000;
$primary: #17181E;
$secondary: #252630;
$tertiary: #1b1c22;
$quaternary: #1e1f27;

/* base::variables::fonts */
$font-roboto: "Roboto", sans-serif;
$font-size-base: 16px;
$text-on-primary: $grey;
$text-on-secondary: $black;
