/* base::variables::breakpoints */
$desktop-xl: 2560px;
$desktop-lg-plus: 2000px;
$desktop-lg: 1920px;
$desktop: 1600px;
$desktop-sm: 1440px;
$desktop-xs: 1366px;
$tablet-xl: 1280px;
$tablet-lg: 1080px;
$tablet: 991px;
$tablet-sm: 860px;
$tablet-xs: 768px;
$mobile-xl: 720px;
$mobile-lg: 640px;
$mobile: 540px;
$mobile-sm: 480px;
$mobile-xs: 375px;

/* base::variables::colors */
$white: #FFF;
$grey: #AAB8C5;
$black: #000;
$primary: #17181E;
$primary-accent: #293036;
$secondary: #252630;
$tertiary: #1B1C22;
$quaternary: #1E1F27;

/* base::variables::fonts */
$font-roboto: "Roboto", sans-serif;
$font-size-base: 16px;
$text-on-primary: $grey;
$text-on-secondary: $black;
