@mixin custom-cursor($size: 40, $fill: 'white', $stroke: 'black', $stroke-width: 1) {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='#{$size}' height='#{$size}' viewBox='0 0 64 64'%3E%3Cpath fill='#{$fill}' stroke='#{$stroke}' stroke-width='#{$stroke-width}' d='M12.47852,10l9.70898,44l10.07031,-13.16797l8.0957,13.51172l6.33984,-4.87695l-10.83398,-11.13867l15.66211,-6.32813z'/%3E%3C/svg%3E") 0 0, pointer;
}
