body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #646cff;
  font-family: sans-serif;
  text-align: center;
  margin-top: 2rem;
}
