// base::variables::colors
$white: #fff;
$black: #000;
$primary: #b2bec3;
$primary-accent: #636e72;
$secondary: #2d3436;

// base::variables::fonts
$font-roboto: 'Roboto', sans-serif;
$font-size-base: 16px;
$text-on-primary: $white;
