@use '@angular/material' as mat;
@use './styles/theme-colors' as my-theme;

html {
  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: my-theme.$primary-palette,
        tertiary: my-theme.$tertiary-palette,
      ),
      typography: Work Sans,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

body {
  font-family: 'Work Sans', sans-serif;
}
