// base::variables::colors
$base-color: #000;
$primary: #55efc4;
$secondary: #fab1a0;
$tertiary: #74b9ff;
$text-color: #fff;

// base::variables::fonts
$font-roboto: 'Roboto', sans-serif;
$font-size-base: 16px;

// base::variables::others
$border-radius-base: 10%;
