// base::variables::colors
$white: #fff;
$black: #000;
$primary: #e53e3e;
$secondary: #3182ce;
$tertiary: #38a169;

// base::variables::fonts
$font-roboto: 'Roboto', sans-serif;
$font-size-base: 16px;
$text-on-primary: $white;
$text-on-secondary: #808080;

// base::variables::others
$border-radius-base: 10%;
