@use "../base/variables" as *;
@use "../utilities/responsive/down" as *;

.nav {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  margin-inline: auto;

  @include responsive-down(tablet-xs) {
    height: auto;
  }

  &__list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    @include responsive-down(tablet-xs) {
      flex-direction: column;
      height: auto;
    }
  }

  &__item {
    height: 100%;
    flex: 0 0 auto;

    @include responsive-down(tablet-xs) {
      height: auto;
    }
  }

  &__link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.875rem;
    color: $white;
    text-decoration: none;
    transition: background-color .2s ease, color .2s ease;

    &:hover,
    &:focus-visible {
      background-color: $primary-accent;
      outline: none;
    }

    &[aria-current="page"] {
      background-color: $primary-accent;
    }

    @include responsive-down(tablet-xs) {
      height: auto;
      padding: 0.75rem;
    }
  }
}
