// base::variables::breakpoints
$desktop-xl: 2560px;
$desktop-lg-plus: 2000px;
$desktop-lg: 1920px;
$desktop: 1600px;
$desktop-sm: 1440px;
$desktop-xs: 1366px;
$tablet-xl: 1280px;
$tablet-lg: 1080px;
$tablet: 991px;
$tablet-sm: 860px;
$tablet-xs: 768px;
$mobile-xl: 720px;
$mobile-lg: 640px;
$mobile: 540px;
$mobile-sm: 480px;
$mobile-xs: 375px;

// base::variables::colors
$white: #fff;
$black: #000;
$background: #141414;

// base::variables::fonts
$font-jost: 'Jost', sans-serif;
$font-size-base: 16px;
$text-on-primary: $white;
$text-on-secondary: $black;

// base::variables::transition
$transition: 0.8s ease;

// base::variables::sizes
$element-width: 350px;
$element-width-hover: 400px;
$element-height: 230px;
$app-gap: 1.5rem;
$gallery-gap: 0.5rem;
$gallery-gap-featured: 0.75rem;
