// base::variables::colors
$white: #fff;
$black: #000;
$background: #141414;

// base::variables::fonts
$font-jost: 'Jost', sans-serif;
$font-size-base: 16px;
$text-on-primary: $white;
$text-on-secondary: $black;
