<mat-sidenav-container class="app-shell">
  <mat-sidenav #drawer mode="over" [opened]="menuOpen">
    @if (auth.isLogged()) {
    <app-menu-private />
    } @else {
    <app-menu-public />
    }
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    @if (auth.isLogged()) {
    <app-header-private />
    } @else {
    <app-header-public />
    }

    <main class="app-content">
      <router-outlet />
    </main>

    <app-footer />
  </mat-sidenav-content>
</mat-sidenav-container>
