.card {
  @mixin grid-width 4, 1rem;

  @mixin responsive-down $tablet-xl {
    @mixin grid-width 3, 1rem;
  }

  @mixin responsive-down $tablet {
    @mixin grid-width 2, 1rem;
  }

  @mixin responsive-down $mobile {
    @mixin grid-width 1, 1rem;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem;
  background: $tertiary;
  border-radius: 0.5rem;

  &__image {
    width: 100px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
  }

  &__title {
    margin: 12px 0 8px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
}
