.card {
  @mixin grid-width 4, 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem;
  background: $tertiary;
  border-radius: 0.5rem;
  box-shadow: 1px 0.1rem 0.5rem 0 rgb(48 45 59 / 5%);

  &__image {
    width: 100px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
  }

  &__title {
    margin: 12px 0 8px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
}
