.nav {
  width: 100%;
  display: flex;

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;

    @mixin responsive-down $tablet-xs {
      flex-direction: row;
      justify-content: space-around;
      /* stylelint-disable-next-line declaration-property-value-no-unknown */
      border-bottom: 1px solid $primary-accent;
    }
  }

  &__item {
    width: 100%;
    display: flex;
    /* stylelint-disable-next-line declaration-property-value-no-unknown */
    border-bottom: 1px solid $primary-accent;

    @mixin responsive-down $tablet-xs {
      width: auto;
      border-bottom: none;
    }
  }

  &__link {
    width: 100%;
    display: flex;
    padding: 0.8rem 0.5rem;
    font-size: 0.8rem;
    text-decoration: none;
    color: $text-on-primary;

    &:hover {
      background-color: $quaternary;
    }
  }
}
