.nav {
  width: 100%;
  display: flex;
  background-color: $tertiary;

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__item {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #000;
  }

  &__link {
    width: 100%;
    display: flex;
    padding: 0.8rem 0.5rem;
    font-size: 0.8rem;
    text-decoration: none;
    color: $text-on-secondary;

    &:hover {
      background-color: $quaternary;
      color: $text-on-primary;
    }
  }
}
