.sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: $black;

  &__title {
    width: 100%;
    padding: 0.8rem 0.5rem;
    font-size: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    color: $text-on-primary;
  }
}
