@use "../base/variables" as *;
@use "../utilities/mixins" as *;
@use "../utilities/responsive/down" as *;

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 2rem 0;

  @include responsive-down(mobile) {
    padding: 1rem 1.5rem 0;
  }

  &__item {
    display: flex;
    flex-direction: column;

    @include custom-cursor(45, 'white', 'black', 1.5);

    @include responsive-down(tablet-xl) {
      gap: 0.75rem;
    }
  }

  &__item--featured {
    gap: 0.75rem;
  }

  &__title {
    font-size: 1.25rem;
  }

  &__gallery {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: nowrap;
    overflow-x: auto;

    @include responsive-down(tablet-xl) {
      flex-wrap: wrap;
      overflow-x: visible;
    }
  }

  &__item--featured &__gallery {
    gap: 0.75rem;
  }

  &__element {
    width: 350px;
    height: 230px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    transition: width $transition;

    &:hover {
      width: 400px;
    }

    @include responsive-down(tablet-xl) {
      width: calc(100% / 4 - 0.5rem);
      height: auto;
      transition: none;

      &:nth-child(n + 5) {
        width: calc(100% / 2 - 0.5rem);
      }
    }

    @include responsive-down(tablet) {
      width: calc(100% / 3 - 0.5rem);

      &:nth-child(n + 5) {
        width: calc(100% / 3 - 0.5rem);
      }
    }

    @include responsive-down(mobile) {
      width: calc(100%);

      &:nth-child(n + 5) {
        width: calc(100%);
      }
    }
  }

  &__item--featured &__element {
    width: auto;
    height: auto;
    transition: none;

    &:hover {
      width: auto;
    }

    @include responsive-down(tablet-xl) {
      width: calc(100% / 3 - 0.5rem);

      &:nth-child(n + 4) {
        display: none;
      }
    }

    @include responsive-down(mobile) {
      width: calc(100% - 0.5rem);
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__featured-number {
    visibility: hidden;
    position: relative;

    &::after {
      content: "6";
      visibility: visible;
      position: absolute;
      left: 0;
    }

    @include responsive-down(tablet-xl) {
      &::after {
        content: "3";
      }
    }
  }
}
