@use "../base/variables" as *;
@use "../utilities/mixins" as *;

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 2rem 0;

  &__item {
    display: flex;
    flex-direction: column;

    @include custom-cursor(45, 'white', 'black', 1.5);
  }

  &__item--featured {
    gap: 0.75rem;
  }

  &__title {
    font-size: 1.25rem;
  }

  &__gallery {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  &__item--featured &__gallery {
    gap: 0.75rem;
  }

  &__element {
    width: 350px;
    height: 230px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    transition: width $transition;

    &:hover {
      width: 400px;
    }
  }

  &__item--featured &__element {
    width: auto;
    height: auto;
    transition: none;

    &:hover {
      width: auto;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }
}
