@use "../base/variables" as *;
@use "../utilities/responsive/down" as *;

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  @include responsive-down(mobile) {
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
  }

  &__text {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }

  &__icon {
    width: 20px;
    height: auto;
    margin: 0 0.25rem;
  }
}
