@use "../base/variables" as *;

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  &__text {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }

  &__icon {
    width: 20px;
    height: auto;
    margin: 0 0.25rem;
  }
}
